body {
  margin: 0;
}

:root {
  --textColor: #153559;
  --grey: #ccc;
  --lightGrey: #F8F8F8;
  --darkgrey: #414448;
  --bgColor: #F2F5F8;
  --borderColor: #EAEAEA;
  --blue: #005AAC;
  --lightBlue: #1C8BF9;
  --greyBlack: #707070;
  --darkGrey: #15355980;
  --boxShadow: #15355933;
  --transparent: transparent;
  --brown: #A66C07;
}